.slide{
    display: flex;
    align-items: center;
    padding: 100px ;

}
.slide-container{
    width: 1300px;
}
.carousel-prev,.carousel-next{
    width: 50px;
    height: 50px;
    background-color: rgb(243, 235, 235);
    border-radius: 50%;
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;
}
